@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form method="post" asp-action="RedirectToPaymentWindow">
        <input type="text" name="token" required placeholder="token" />
        <input type="text" name="personId" required placeholder="personId" />
        <input type="text" name="rubles" required placeholder="rubles" />
        <input type="text" name="kopek" required placeholder="kopek" />
        <div>
            <button type="submit">Кнопка</button>
        </div>
    </form>
</div>
